<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ if .IsHome }}{{ .Site.Title }} | {{ .Site.Params.site_description }}{{ else }}{{ .Title }}{{ end }}</title>
	<meta name="author" content="{{ .Site.Params.author }}">
	<meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.site_description }}{{ end }}">
	{{ if isset .Site.Params "site_keywords" }}<meta name="keywords" content="{{ .Site.Params.site_keywords }}">{{ end }}
	<meta property="og:title" content="{{ if ne .Title "" }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
	<meta property="og:description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.site_description }}{{ end }}">
	<meta property="og:type" content="website">
	<meta name="og:url" content="{{ .Permalink | absURL }}">
	<meta name="og:image" content="{{ .Site.BaseURL }}static/logo.png">
	{{ if isset .Site.Params "twitter_handle" }}<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ .Site.Params.twitter_handle }}">
	<meta name="twitter:title" content="{{ if ne .Title "" }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
	<meta name="twitter:description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.site_description }}{{ end }}">
	<meta name="twitter:image" content="{{ .Site.BaseURL }}static/logo.png">{{ end }}
	<link rel="canonical" href="{{ .Permalink | absURL }}">
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/main.css">
</head>